*::-moz-selection {
	background: none repeat scroll 0% 0% #B6E2FC;
	text-shadow: none;
}

*{
	margin: 0 auto; 
}

html {
	font-family: Arial,Helvetica,sans-serif;
	color: #4d4d4d;
	font-size: 20px;
	line-height: 1.44em;
}

body{
	
}

a{
	background:transparent;
}

a:active,a:hover{
	outline:0;
}

a{
	color:#5e98ba;
}

a:hover{
	color:#265773;
}

b,strong{
	font-weight:bold;
}

img{
	border:0;
}

section{
	word-wrap: break-word;
	padding: 2em 1em;
	text-align: center;
}



article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

#sect1{
	margin: 0 auto;
	max-width: 1300px;
	font-weight: 5000;
	line-height: 28.8px;
	word-wrap: break-word;
	text-align: center;
	vertical-align: middle;
}

.section1 img{
	height: 80px;
	display: block;
	margin-bottom: 2em;
}

#sect1 h1{
	font-size: 1.77em;
	line-height: 1.2em;
	max-width: 900px;
	margin: 0px auto;
	font-style: normal;	
	vertical-align: middle;
	text-align: center;
	font-weight: 500;
} 

#sect1 article p{	
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
	max-width: 585px;
	padding: 1em;
}

.section-blue{
	background:#0079bf;
	color:#fff;
	margin: 0px auto;
	overflow: hidden;
}

.section-blue a{
	color:rgba(255,255,255,0.8);
}

.section-blue a:hover{
	color:#fff
}

.boton {
	background: #cdd2d4;
	background: -webkit-linear-gradient(top, #cdd2d4 0, #c4c9cc 100%);
	background: linear-gradient(to bottom, #cdd2d4 0, #c4c9cc 100%);
	border-radius: .3em;
	box-shadow: 0 2px 0 #4d4d4d;
	color: #4d4d4d;
	display: inline-block;
	font-weight: bold;
	margin-bottom: .8em;
	padding: .6em 1.3em;
	position: relative;
	text-decoration: none;
	border: 0;
}

.boton-verde{
	background: #61bd4f;
	background: -webkit-linear-gradient(top, #61bd4f 0, #5aac44 100%);
	background: linear-gradient(to bottom, #61bd4f 0, #5aac44 100%);
	box-shadow: 0 2px 0 #3f6f21;
	color: #fff;
}

.boton-verde:hover{
	background: -webkit-linear-gradient(top, #5aac44 0, #519839 100%);
	background: linear-gradient(to bottom, #5aac44 0, #519839 100%);
	color: #fff;
}


#singin{
	margin-top: 50px;
}

#singin a{	
	color: #5e98ba;
	background: transparent;
	font-size: 20px;
}

#singin a.link, .link a {
	color: #999;
}

#singin .link {
	color: #999;
}

#singin .link:hover{
	color: #6E6E6E;
}

.link{
	color: #999;
	background: transparent;
	font-size: 20px;
}

.link a:hover{
	color: #6E6E6E;
}

#sect2{
	padding: 4em 1em;
}

#sect2 p{
	text-align: left;
}
.parrafo-centro{
	max-width: 585px;
}

#sect2 img{
	max-width: 100%;
	padding: 2em 3em 2em;
	box-sizing: border-box;
}
#sect3{
	margin-bottom: 0;
}
#sect3 p{
	padding-bottom: 10px;

}
.section3{
	margin-bottom: 0;
}
.boton2{
	border: 1px solid;
	border-radius: .3em;
	display: inline-block;
	margin: .6em 0;
	padding: .6em 1em;
	text-decoration: none;
	color: #5e98ba;
	background: transparent;
}

#sect3 img{
	margin-top: 2em;
	margin-bottom: 0;
	max-width: 100%;
	box-sizing: border-box;
	display: block;
	margin: 1em auto;
	margin-bottom: -40px;
}

.section4{
	background-color: #e4f0f6;
}	

.section4 #sect4{
	margin: 0 auto;
	max-width: 890px;
	position: relative;  
}

.section5{
	margin: 4em 1em;
}

#sect5{
	margin: 0 auto;
	max-width: 890px;
	position: relative;
}


#sect5 .rimg img{
	max-width: initial;
	display: block;
	margin: 1em auto;
	vertical-align: middle;
}

#sect5 .rimg{		
	left: 650px;	
	position: absolute;
	top: -40px;
}


.section6 p{
	padding-bottom: 50px;
}

.section6 img{
	display: inline-block;
	margin: 0px 20px 20px;
	height: 60px;
}
}

.left{
	margin: 0px auto;
	max-width: 890px;
	text-align: left;
	position: relative;
}

.left p{
	text-align: left;
	padding-right: 300px;
}

.left img{
	max-width: initial;
	height: 54px;
}

.right img{
	max-width: initial;
	display: block;
	margin: 1em auto;
	vertical-align: middle;
}

.right{
	left: 640px;
	position: absolute;
	top: -35px;
}


.left2{
	margin: 0px auto;
	max-width: 890px;
	position: relative;
}

.left2 p{
	text-align: left;
	padding-right: 300px;
}

.apps{
	display: inline-block;
	margin: .4em 1em 0 0;
	padding: 0;
	vertical-align: top;
}

#sect6{
	margin: 0px auto;
	max-width: 1300px;
}

.section6 p{
	padding-bottom: 50px;
}

.section6 img{
	display: inline-block;
	margin: 0px 20px 20px;
	height: 60px;
}

.section7{
	margin: 0px auto;
	padding: 4em 1em;
	background: #42548E none repeat scroll 0% 0%;
	color: #fff;
}

#sect7{
	margin: 0px auto;
	max-width: 890px;
	position: relative;
}

.left3{
	top:-20px;
	right: 640px;
	position: absolute;
}
.left3 img{
	height: 130px;
}

.right3{
	margin-left: 315px;
	width: 585px;
	text-align: left;
}

.boton3{
	border: 1px solid;
	border-radius: 0.3em;
	display: inline-block;
	margin: 20px 0px;
	padding: 0.6em 1em;	
}

.boton3 a{
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
}

.boton3 a:hover{
	color: #fff;
}

.section8{
	padding: 4em 1em;
}

#sect8{
	max-width: 1300px;
	margin: 0px auto;
}

#sect8 p{
	padding-bottom: 30px;
}

.section9{
	padding: 80px 20px;
}

#sect9{
	max-width: 890px;
	margin: 0 auto;	
	position: relative;
	padding: 2.5em 1em;
}

.taco{
	right: 640px;
	position: absolute;	
	top: -2em;	
}

.taco-text{
	margin-left: 315px;	
	top: 20px;
	position: absolute;	
}

.taco-text p{
	text-align: left;
}

footer{
	margin: 0 auto;
	color: #999;
	font-size: 16px;
	margin: 80px 20px;
	text-align: center;
}

footer #enlaces a{
	padding: 0 5px;
}

footer a{	
	color: #999;
}

footer a:hover{	
	color: #1C1C1C;
}

@media (max-width: 765px){
	html{
		font-size: 16px;
	}

	.section4 #sect4{
		margin: 0 auto;
		max-width: 540px;  
	}

	#sect4 .left{
		position: relative;
	}

	#sect4 .left p{
		text-align: left;
		padding-right: 30px;	
		font-size: 12pt;	
	}

	#sect4 .left img{
		max-width: initial;
		height: 54px;
	}

	#sect4 .right{	
		position: relative;	
		left: 0px;	
		top: 0px;	
	}

	#sect4 .right img{
		max-width: 100%;
		display: block;
		margin: 1em auto;
		vertical-align: middle;
	}


	.section5{
		margin: 2em 1em;
	}
	#sect5{
		margin: 0 auto;
		max-width: 540px;  
		position: inherit;
	}

	.section5 .left2{
		margin: 0px auto;
		max-width: 540px;
	}

	.section5 .left2 p{
		text-align: left;
		padding: 0px;
	}


	#sect5 .rimg img{
		max-width: initial;
		display: block;
		margin: 1em auto;
		vertical-align: middle;
	}

	#sect5 .rimg{		
		position: static;
	}

	.section6 p{
		padding-bottom: 20px;
	}

	.section6 #sect6{
		margin: 0 auto;
		max-width: 540px;  
		position: inherit;
	}

	.section6 img{
		display: inline-block;
		margin: 0px 16px 16px;
		height: 30px;
	}

	.section7 #sect7{
		margin: 0px auto;
		max-width: 540px;
		position: relative;
	}

	.left3{
		position: static;
	}
	.left3 img{
		height: 130px;
	}

	.right3{
		margin-left: 0px;
		text-align: left;
	}

	.section9{
		padding: 40px 10px;
	}

	#sect9{
		max-width: 540px;
		margin: 0 auto;	
		position: relative;
		padding: 1.5em .5em;
	}

	.taco{
		position: static;		
	}

	.taco-text{
		position: static;
		margin: 0;	
	}

	footer{
		font-size: 12px;
	}
}

@media (max-width: 600px){
	.right3{
		margin-left: 0px;
		text-align: left;
		max-width: 380px;
	}
}

@media (max-width: 400px){
	.right3{
		margin-left: 0px;
		text-align: left;
		max-width: 290px;
	}

	#sect4 .right img{
		max-width: 90%;
		display: block;
		margin: 1em auto;
		vertical-align: middle;
	}
}
